@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /*https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77*/
    --background-principal: #184E77;
    --background: #168AAD;
    --primary: #52B69A;
    --inside-section: #76C893; 
    --botton: #76C893;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Poppins, 'Times New Roman', Times, serif;  
}

header {
    background: linear-gradient(to bottom, var(--primary), var(--background-principal));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 px 30px 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
  height: 90px;
  width: 90px;  
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap:150px;
    padding:30px
}

.navbar-list {
    gap:30px;

}

.navbar-list a {
    color: white;
    font-size: 14px;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;
}

.carrito {
    border: 1px solid var(--primary);
    padding: 12px 18pxs;
    margin-top: 3px;
    border-radius: 10px;
    height: 36px;
    font-weight: 600;
    cursor: pointer;
}

main {
  background: var(--background-principal); 
  display: flex;
  flex-direction: column;
  color: white; 
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: #f5f5f5;
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: var(--inside-section)
}

.hero-info p > span {
    font-weight: 800;
    background: linear-gradient(to top, rgb(136, 231, 159), rgb(197, 216, 209));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info a {
    color: white;
    background-color: var(--botton);
    width: 120px;
    padding: 8px 1px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero-card img {
   border-radius: 10px;
   height: 300px;
}


#info-section {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info-descriptiva {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px
 }

 .info-descriptiva h2 {
    font-size: 32px;
    font-weight: 800;
 }

 .info-descriptiva p { 
    text-align: center;
 } 

 #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .info-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
 }

 #info p{
    padding: 10px 0 80px 0;
 }

 .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--botton);
    padding: 20px 20px 0px 10px;
    border-radius: 15px;
    height: 100%;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

 .cards-beneficios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 15px;
    width: 200px;
 }

 .main-contact {
    background: var(--background-principal);
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 100px 20px;
 }

 .contact {
    background: var(--inside-section);
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 


 .contact h2 {
    font-weight: 800;
    background: linear-gradient(to bottom, rgb(46, 42, 19), rgb(48, 82, 65));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
 }

 .contact img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20px;
 }

 .icono-imagen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 10px 10px;
 }

 .map {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer {   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-principal);
    background: linear-gradient(to top, var(--primary), var(--background-principal));
    height: 80px;
    gap: 50px;
}

footer h6 {
    color: darkgray;
    padding: 10px 0 0 0;
}

 footer img {
    background-color: var(--background-principal);
    background: linear-gradient(to top, var(--primary), var(--background-principal));
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
 }


@media (max-width: 992px) {

    .hero-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px; 
    }

    .hero-info h1 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
    }

    .hero-info p {
        width: 60%;
        max-width: 600px;
        min-width: unset;
    }

    .hero-card {
        display: none;
    }

    #info h2 {
        text-align: center;
        width: 80%;
    }

    .info-cards-container {
        max-width: 80%;
    }

}

@media (max-width: 576px) {
    .navbar ul {
        background-color: var(--primary);
        width: 100%;
        height: cal(100vh - 80px);
        position: absolute;
        top: 65px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked + .navbar-list {
        transform: translateX(0%);
    }
}
  