@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header-container {
    display: flex;
}
.navbar {
    display: flex;
    background-color: #007f5f;
    width: 100%;
    border-radius: 5px;
    border: 2px solid white;
}

.ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    font-family: poppins, monospace;
    color:aliceblue;
}

img{
    display: flex;
}